<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%=title%></title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="cus_form">
            <form method="post" action="/reg" name="form">
                <div class="form-group">
                    <label for="username">用户名：</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                </div>
                <div class="form-group">
                    <label for="pwd">密码：</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="密码">
                </div>
                <div class="form-group">
                    <label for="repeatpwd">确认密码：</label>
                    <input type="password" class="form-control" id="repeatpwd" name="repeatpwd" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-default">注册</button>
            </form>
        </div>
    </div>
</body>
</html>