<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p><%= info %></p>
<form action="/users/login" method="post">
    用户名:<input type="text" id="username" name="username" placeholder="请输入用户名"/>
    密码: <input type="password" id="password" name="password" placeholder="请输入密码"/>
    <input id="submitBtn" type="submit" value="提交">
</form>
</body>
</html>
