<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>login success <%= name %></p>
<a href="/users/logout">退出登陆</a>
</body>
</html>
